{% extends 'base.html' %} {% block content %}
<h1>Expenses for {{ category }} in {{ month }} {{year}}</h1>

<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
  <thead>
    <tr>
      <th>Date</th>
      <th>Description</th>
      <th>Amount</th>
      <th>Receipts</th>
    </tr>
  </thead>
  <tbody>
    {% for expense in expenses %}
    <tr>
      <td class="align-content-center">{{ expense.transaction_date }}</td>
      <td class="align-content-center">{{ expense.merchant }}</td>
      <td class="align-content-center">${{ expense.amount }}</td>
      <td class="align-content-center">
        {% if expense.receipts %} {% for receipt in expense.receipts.all %}
        <a href="{{ receipt.image.url }}" target="_blank">
          <img src="{{ receipt.image.url }}" width="50" height="50" />
        </a>
        {% endfor %} {% endif %}
      </td>
    </tr>
    {% endfor %}
    <tr>
      <td colspan="2" align="right">Total</td>
      <td colspan="2">${{ total }}</td>
    </tr>
  </tbody>
</table>
{% endblock %}
