{% extends 'base.html' %} {% block content %}
<div class="card shadow mb-4 mt-4">
  <div class="card-header">
    <h6 class="m-0 font-weight-bold text-primary">Upload your receipt</h6>
  </div>
  <div class="card-body"><form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="d-flex align-items-center justify-content-between">
    <input type="file" name="files" accept="image/*" multiple />
  <button type="submit" class="btn btn-primary">Upload Receipts</button>
  </div>
</form></div>
</div>

{% if receipts %}
<p>
  Receipt uploaded:
  <div class="d-flex" style="gap: 20px">
    {% for receipt in receipts %}

  <div class="d-flex flex-column">
    <a href="{{ receipt.url }}">
    <img
      src="{{ receipt.url }}"
      alt="Receipt"
      style="width: 100px; height: 200px"
    />
  </a>
  <button type="button" class="btn btn-danger mt-3" onclick="handleRemoveRecept(receipt.id)">Remove</button>
  </div>
  {% endfor %}
  </div>
</p>
{% endif %}
{% if expense %}
<h2>Info</h2>
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary d-flex justify-content-between align-items-center">Receipt Info
      <div class="button-group">
        <button type="button" class="btn btn-success" id="link-button">Link</button>
      </div>
    </h6>
  </div>
  <div class="card-body info">
    <div class="d-flex align-items-center justify-content-between mx-2">
      <select value="{{ expense.merchant }}" class="form-control mr-2" name="merchant">
        <option {% if expense.merchant == "aldi" %} selected {% endif %} value="aldi">Aldi</option>
        <option {% if expense.merchant == "amazon" %} selected {% endif %} value="amazon">Amazon</option>
        <option {% if expense.merchant == "bestbuy" %} selected {% endif %} value="bestbuy">Best Buy</option>
        <option {% if expense.merchant == "costco" %} selected {% endif %} value="costco">Costco</option>
        <option {% if expense.merchant == "jerysfruitmarket" %} selected {% endif %} value="jerysfruitmarket">Jery's Fruit Market</option>
        <option {% if expense.merchant == "jewelosco" %} selected {% endif %} value="jewelosco">JewelOsco</option>
        <option {% if expense.merchant == "marianos" %} selected {% endif %} value="marianos">Marianos</option>
        <option {% if expense.merchant == "other" %} selected {% endif %} value="other">Other</option>
        <option {% if expense.merchant == "target" %} selected {% endif %} value="target">Target</option>
        <option {% if expense.merchant == "traderjoes" %} selected {% endif %} value="traderjoes">Trader Joes</option>
        <option {% if expense.merchant == "wallgreens" %} selected {% endif %} value="wallgreens">Wallgreens</option>
        <option {% if expense.merchant == "walmart" %} selected {% endif %} value="walmart">Walmart</option>
        <option {% if expense.merchant == "wholefoods" %} selected {% endif %} value="wholefoods">Whole Foods</option>
        <option {% if expense.merchant == "other" %} selected {% endif %} value="other">Other</option>
      </select>
      <input type="date" name="post_date" class="form-control mr-2" value="{{ expense.post_date }}">
      <select name="category" class="form-control mr-2" value="{{ expense.category }}">
        <option value="Supermarkets">Supermarkets</option>
        <option value="Merchandise">Merchandise</option>

      </select>
      <input type="hidden" name="id" value="{{ expense.id }}">
      <button class="btn btn-primary" id="edit-info-button">Edit</button>
    </div>
  </div>
</div>
{% endif %}
{% if records %}
<h2>Expenses</h2>
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary d-flex align-items-center justify-content-between">Receipt Items
      <div class="button-group">
        <button class="btn btn-primary" id="edit-button" type="button">Edit</button>
      <button class="btn btn-success" id="add-button" type="button">Add</button>
      </div>
    </h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <div class="row">
        <div class="col-sm-12">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th>Description</th>
                <th>Total</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              {% for expense in records %}
              <tr id="item-{{ expense.id }}">
                <td>
                  <input class="form-control" type="text" name="description_{{ expense.id }}" value="{{ expense.description }}" />
                </td>
                <td>
                  <input class="form-control" type="number" name="price_{{ expense.id }}" value="{{ expense.price }}" />
                </td>
                <td>
                  <button class="btn btn-danger" onclick="handleRemoveItem('{{expense.id}}')">Remove</button>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col">Total</div>
      <div class="col">
        <input class="form-control" type="number" name="total" value="{{ total }}" readonly/>
      </div>
      <div>
        <button class="btn btn-primary" id="edit-total-button">Edit</button>
      </div>
    </div>
  </div>
</div>
<script>
  const inputs = document.querySelectorAll('table input');
  let editMode = false;
  let editInfo = false;
  let editTotal = false;
  for(input of inputs) {
    input.setAttribute('readonly', true);
  }

  function showAlert(data) {
    const alert = document.getElementById('success-alert');
    alert.classList.remove('d-none');
    setTimeout(() => {
      alert.classList.add('d-none');
    }, 3000);
    const title = alert.querySelector('.title');
    title.innerHTML = data.message;
  }

  function handleEditInfo(){
    editInfo = !editInfo;
    this.innerHTML = editInfo ? 'Save' : 'Edit';
    const inputs = document.querySelectorAll('.card-body.info input');
    for(input of inputs) {
      if(editInfo) {
        input.removeAttribute('readonly');
      } else {
        input.setAttribute('readonly', true);
      }
    }
  }

  function handleRemoveItem(id) {
    const element = document.getElementById('item-' + id);
    element.remove();
  }

  function handleEdit() {
    editMode = !editMode;
    this.innerHTML = editMode ? 'Save' : 'Edit';
    for(input of inputs) {
      if(editMode) {
        input.removeAttribute('readonly');
      } else {
        input.setAttribute('readonly', true);
      }
    }
  }

  function handleRemoveRecept(id) {
    fetch('/expenses/remove-receipt/' + id + '/', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        'X-CSRFToken': '{{ csrf_token }}'
      }
    })
    .then(response => response.json())
    .then(showAlert)
    .catch(showAlert);
  }
  document.getElementById('edit-button').addEventListener('click', handleEdit);
  document.getElementById('edit-info-button').addEventListener('click', handleEditInfo);
  document.getElementById('add-button').addEventListener('click', function() {
    const table = document.getElementById('dataTable');
    const id = Math.floor(Math.random() * 100000);
    const row = document.createElement('tr');
    row.id = 'item-' + id;
    row.innerHTML = `
      <td>
        <input class="form-control" type="text" name="description_${id}" />
      </td>
      <td>
        <input class="form-control" type="number" name="price_${id}" />
      </td>
      <td>
        <button class="btn btn-danger" onclick="handleRemoveItem('${id}')">Remove</button>
      </td>
    `;
    table.appendChild(row);
  });
  document.getElementById('link-button').addEventListener('click', function() {
    var receiptIds = [
    {% for receipt in receipts %}
      {{ receipt.id }}{% if not forloop.last %},{% endif %}
    {% endfor %}
  ];

    const table = document.getElementById('dataTable');
    const allExpenses = table.querySelectorAll('tbody tr');
    const expenses = [];
    for(expense of allExpenses) {
      const description = expense.querySelector('input[name^="description"]').value;
      const price = expense.querySelector('input[name^="price"]').value;
      expenses.push({
        description,
        price,
        total: price
      });
    }
    fetch('/expenses/link-receipt/', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        'X-CSRFToken': '{{ csrf_token }}'
      },
      body: JSON.stringify({
        receipt_ids: receiptIds,
        merchant: document.querySelector('select[name="merchant"]').value,
        post_date: document.querySelector('input[name="post_date"]').value,
        category: document.querySelector('select[name="category"]').value,
        total: document.querySelector('input[name="total"]').value,
        items: expenses,
      })
    })
    .then(response => response.json())
    .then(showAlert)
    .catch(showAlert);
  });
  document.getElementById('edit-total-button').addEventListener('click', function() {
    const total = document.querySelector('input[name="total"]');
    if(editTotal) {
      this.innerHTML = 'Edit';
      total.setAttribute('readonly', true);
    } else {
      this.innerHTML = 'Save';
      total.removeAttribute('readonly');
    }
    editTotal = !editTotal;
  });
</script>
{% endif %} {% endblock %}
